body{
    background-color: lavender;
    width: 100%;
    margin: 0 auto;
}

header{

	margin:0 auto;
}

header > canvas{
	display: block;
	margin: 0 auto;
}

nav{
	margin:10px;
}

main{
	background-color: beige;
	padding:3px 0;
	width:100%;
	margin:0 auto;
}

footer {
	width: inherit;
	bottom: 0;
	position:fixed;
	z-index: 10;
	text-align: center;
	background-color:lightgray;
	padding:10px;
	font-size: 0.8em;
}

h2{
	padding: 0 15px;
	margin: 0 0 15px 0;
}

h4{
	margin: 0 0 5px 0;
}

ul#menu {
	margin: 0;
}

ul#menu li {
    display: inline;
}

ul#menu li a {
    background-color: black;
    color: orange;
    border-radius: 8px 8px 0 0;
	text-decoration: none;
	padding: 10px 20px;
	margin: 0;
}

ul#menu li a:hover {
	color: black;
    background-color: orange;
}

.col {
	box-sizing: border-box;
	float: left;
	padding: 0 15px;
	margin: 0 0 32px 0;
}

.col1of3 {
    width: 33%;
}

.dropbtn {
	visibility: hidden;
}

/* Clearfix */
.row:after {
    content: "";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
}



