body{
    background-color: lavender;
    width: 1000px;
    margin: 0 auto;
}

#header_canvas{
    display: block;
    margin: 0 auto;
}

footer {
    bottom: 0;
    position:absolute;
    width: inherit;
    z-index: 10;
    text-align: center;
    background-color:lightgray;
    padding:10px;
    font-size: 0.8em;
}

nav{
    margin:10px;
}

nav > a{
    margin:5px;
}

main{
    background-color: beige;
    padding:3px 10px;
}

main > h1{
    margin:5px 0;
}