#map{
    width: 80%;
    height: 500px;
}

.mapLabels{
    display: inline-block;
    width: 120px;
    margin: 2px 0;
}

.mapInput{
    width: 200px;
}

#addAddress{
    display:inline-block;
}

#saveAddress{

}